/*Set standart body options and set backgrounds*/
body {
    font-family: 'Ysabeau', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.indexBody {
    background-image: url('../images/indexBackground.jpg');
}

.whoweareBody{
    background-image: url('../images/fondo4.png');
}

.cvBody{
    background-image: url('../images/fondo4.png');
}

.projectBody {
    background-image: url('../images/fondo4.png');
}

.newsBody {
    background-image: url('../images/fondo4.png');
}

.applyBody {
    background-image: url('../images/fondo4.png');
}

.contactBody {
    background-image: url('../images/fondo4.png');
}

/*General Navbar appearance*/

.mainNavbar{
    font-size: larger;
    font-weight: bold;
}

.navbarLinks{
  justify-content: right;
  padding: 2px;
}

#navbarNav{
    font-size: 22px;
}

/*Info button appearance and behaviour*/

.infoButton{
    background-color: rgb(255, 240, 218);
    border-radius: 10%;
    opacity: 0.7; 
}

.infoButton:hover{
    opacity: 1;   
    background-color:rgb(255, 240, 218) ;
}

.infoButton:active{
    opacity: 1;   
    background-color:rgb(255, 240, 218) ;
}

.infoButton.clicked{
    opacity: 1;   
    background-color:rgb(255, 240, 218) ;
}

.italicText{
    font-style: italic;
}

/*Index styling*/

.pageTitleText{
    font-size: x-large
}

.mainCenterText {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:100px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    color: white;
}

/*Who we are styling*/

.divsWithCols{   /*Also used in Contact for stardarized text color and size*/
    color: white;
    text-align: justify;
    margin: 10px 0px 0px 10px;      
}

.divsWithCols img{
    max-width: 420px;
}

.colsText{      /*Also used in Contact for stardarized text color and size*/
    /* background-color: rgb(128,128,128,0.4); */
    border-radius: 10px;
    margin: 10px;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
   background-color: rgb(128, 128, 128, 0.4);
}

.imgProfile{
    
}

.contactBtn{
    background-color: green;
    border: green;
}

.contactBtn:hover{
    background-color: rgb(0, 68, 0);
    border: rgb(0, 68, 0); 
}

.contactBtn:active{
    background-color: green;
    border: green; 
}

/*CV styling*/

.cvAccordion{
    width: 70%;
    margin: 0 auto;
}

.pubListItem {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.pubItemDetails h2 {
    margin-bottom: 5px;
}

.pubItemDetails p {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: justify;
}

.imgArticles{
    border: 2px groove black;
}

.pdfDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdfDisplayText{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/*News styling*/

.newsContent{
    width: 70%;
    margin: 10px auto;
}

.newsCard{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.newsCard img{
    max-width: 250px;
}

/*Apply to PSU styling*/
.applyContent{
    width: 70%;
    margin: 10px auto;
    text-align: center;
    color: white;
}

.title{
    text-align: center;
    color: black;
}


/*Contact styling*/

.contactMain{
    margin: 10px auto;
    width: 50%;
}

.contactCard{
    color: white;
    text-align: center;
}

.contactCard h2{
    margin-top: 10px;
}

.contactCard ul{
    list-style:none;
}


/*Adjust styling for mobile devices*/

@media (max-width: 767px) {
    .cvAccordion {
      width: 100%;
      margin: 0;
    }
}
